a {
  color: black;
  font size: 20px;
  border: 5px dotted darkblue;
  background-color: lightblue;
}

a:hover {
  color: white;
  background-color: black;
}
header a {
  padding: 10px;
  text-decoretion: none;
  border-radius: 45px;
}
